.carousel{
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.carousel i{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .3s;
    z-index: 1;
}
.carousel i.left{
    left: -20px;
}
.carousel i.right{
    right: -20px;
}
.carousel:hover i.left{
    left: 20px;
}
.carousel:hover i.right{
    right: 20px;
}
