:root{
    --main-color: #ff5E14;
    --second-color: #232323;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
html{
    scroll-behavior: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
p{
    margin: none;
    padding: none;
}
